.container-one{
    height: 600px;
    width: 40%;
   
}

.container-two{
    
}

.card{
    
}

.img{
    width: 40px;
    padding: 80px 40px;
}

.card-img{
    width: 40px;
    padding: 80px 40px;
}